.HomeProjectSection
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    
}
.HomeProjectSection h3
{
    font-size:150%;
}
.HomeProjects
{
  display: flex;
}


.ReadMore 
{
    padding: 8px 16px;
    
    border-radius: 4px;
    margin-right: 10px;
    text-decoration: inherit;
    text-transform: none;
    font-size: larger;
    font-weight: bold;
    
}
